<div id="bulletin-@(ViewBag.forecast)-alerts">
<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-territories" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите один или несколько административных районов или населённых пунктов.
</div>
</p>

<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-cloudiness-night" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите облачность ночью.
</div>
</p>

<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-cloudiness-day" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите облачность днём.
</div>
</p>

<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-precipitation-night" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите осадки ночью.
</div>
</p>
<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-precipitation-day" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите осадки днём.
</div>
</p>

<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-condition-night" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите явления ночью.
</div>
</p>
<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-condition-day" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите явления днём.
</div>
</p>


<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-wind-night" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите направление ветра ночью.
</div>
</p>
<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-wind-day" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите направление ветра днём.
</div>
</p>


<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-windmin-night" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите минимальное значение скорости ветра ночью.
</div>
</p>
<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-windmin-day" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите минимальное значение скорости ветра днём.
</div>
</p>

<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-windmax-night" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите максимальное значение скорости ветра ночью.
</div>
</p>
<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-windmax-day" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите максимальное значение скорости ветра днём.
</div>
</p>

<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-temperaturemin-night" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите минимальное значение температруры ночью.
</div>
</p>
<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-temperaturemin-day" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите минимальное значение температуры днём.
</div>
</p>

<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-temperaturemax-night" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите максимальное значение температуры ночью.
</div>
</p>
<p>
<div id="bulletin-@(ViewBag.forecast)-alerts-temperaturemax-day" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Внимание!</strong> Укажите максимальное значение температуры днём.
</div>
</p>

</div>