@using Bulletin.Repositories;
@using Bulletin.Models;
@using Bulletin.Common;



    <div id="condition-panel" class="panel panel-primary">
            <div id="condition-panel-handling" class="panel-heading lg">Ночь</div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                    
                        <tr>
                            <td class="col-md-12">
                                <div class="checkbox pull-left">
                                    <label><input id="condition-checkbox-none" type="checkbox" value="">Нет явлений</label>
                                </div>
                            </td>
                        </tr>

                        <tr class="something">
                            
                            <td class="col-md-12">
                                <select id="bulletin-@(ViewBag.forecast)-condition-night" class="selectpicker" data-style="btn-primary" data-live-search="true" data-width="100%">
                                    @foreach (var condition in ((IRepository<Condition>)(new ConditionRepository())).GetAll())
                                    {
                                        <option>@condition.Name</option>
                                    }                                                        
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-12">
                                <div class="checkbox pull-left">
                                    <label><input id="condition-checkbox-places" type="checkbox" value="">местами</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">
                                <div class="checkbox pull-left">
                                    <label><input id="condition-checkbox-sometimes" type="checkbox" value="">временами</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>                                           
            </div>
        </div>
       

       <script>

           $("#condition-checkbox-none").click(function () {

               $("#bulletin-@(ViewBag.forecast)-condition-night").prop('disabled', $("#condition-checkbox-none").is(':checked'));
               $("#condition-checkbox-places").prop('disabled', $("#condition-checkbox-none").is(':checked'));
               $("#condition-checkbox-sometimes").prop('disabled', $("#condition-checkbox-none").is(':checked'));
           });

              
       </script>