@using Bulletin.Repositories;
@using Bulletin.Models;
@using Bulletin.Common;





<div id="precipitation-panel" class="panel panel-primary">
            <div id="precipitation-panel-heading" class="panel-heading lg">Ночь</div>
            <div class="panel-body">

           


                <table class="table">
                    <tbody>
                        <tr class="something">
                            
                            <td class="col-md-12">

    <div class="typeahead-container">
        <div class="typeahead-field">
 
            <span class="typeahead-query">
                <input id="country_v1-query" name="country_v1[query]" placeholder="Осадки" autocomplete="off" type="search">
            </span>
 
        </div>
    </div>

    <!-- http://www.runningcoder.org/jquerytypeahead/documentation/ -->
    
    <script>
        $('#country_v1-query').typeahead({
            minLength: 0,
            maxItem: 15000,
            order: "asc",
            hint: true,
            accent: true,
            searchOnFocus: true,
            source: {
                url: ["/Precipitation/GetPrecipitations"]
            },
            callback: {
                onInit: function (node) {
                    console.log('Typeahead Initiated on ' + node.selector);
                }
            }
        });
    </script>
    
    
                            </td>
                            
                        </tr>
                    </tbody>
                </table>                                           
            </div>
        </div>

    