@using Bulletin.Repositories;
@using Bulletin.Models;
@using Bulletin.Common;

<div id="temperature-panel" class="panel panel-primary">
    <div id="temperature-panel-heading" class="panel-heading lg">Ночь</div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Минимальное значение (&degC)
                    </th>
                    <th>
                        Максимальное значение (&degC)
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>                    
                    <td class="col-md-2">
                        <input type="number" class="form-control input-sm delta" id="bulletin-@(ViewBag.forecast)-temperaturemin-night" region="0" times="night-@(ViewBag.forecast)" who="temperature-@(ViewBag.forecast)">
                    </td>
                    <td class="col-md-2">
                        <input type="number" class="form-control input-sm" id="temperature-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)" >
                    </td>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th colspan="2">
                        Уточнение
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="2">
                        <select id="temperature-clarification" class="selectpicker" data-style="btn-primary" data-width="100%">                                                                        
                            <option value="0">Нет уточнений</option>
                            @foreach (var clarification in ((IRepository<Clarification>)(new ClarificationRepository())).GetAll())
                            {
                                <option>@clarification.Name</option>
                            }  
                        </select>
                    </td>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th>
                        Минимальное значение (&degC)
                    </th>
                    <th>
                        Максимальное значение (&degC)
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="col-md-2">
                        <input type="number" class="form-control input-sm delta"  region="0" id="temperature-clarification-min" times="night-@(ViewBag.forecast)" who="temperature-clarification-@(ViewBag.forecast)">
                    </td>
                    <td class="col-md-2">
                        <input type="number" class="form-control input-sm" id="temperature-clarification-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)" >                                                                               
                    </td>
                </tr>
            </tbody>
        </table>
                                                                                                    
    </div>
</div>

                           
<script>
    $(document).ready(function () {
        $("#bulletin-@(ViewBag.forecast)-temperaturemin-night").keyup(function () {

            $("#temperature-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)").val(parseInt($(this).val()) + 5);
        });

        $("#bulletin-@(ViewBag.forecast)-temperaturemin-night").change(function () {

            $("#temperature-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)").val(parseInt($(this).val()) + 5);
        });

        $("#temperature-clarification-min").keyup(function () {

            $("#temperature-clarification-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)").val(parseInt($(this).val()) + 5);

        });

        $("#temperature-clarification-min").change(function () {

            $("#temperature-clarification-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)").val(parseInt($(this).val()) + 5);

        });
    });
</script>