@using Bulletin.Repositories;
@using Bulletin.Models;
@using Bulletin.Common;

<div id="wind-panel" class="panel panel-primary">
                                              <div  id="wind-panel-heading" class="panel-heading lg">Ночь</div>
                                              <div class="panel-body">
                                                    <table class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Ветер
                                                                </th>
                                                                <th>
                                                                    Минимальное значение (м/с)
                                                                </th>
                                                                <th>
                                                                    Максимальное значение (м/с)
                                                                </th>                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-2">
                                                                    <select id="bulletin-@(ViewBag.forecast)-wind-night" class="selectpicker" data-style="btn-primary"  data-live-search="true">                                                    
                                                                        @foreach (var wind in ((IRepository<Wind>)(new WindRepository())).GetAll())
                                                                        {
                                                                            <option>@wind.Name</option>
                                                                        }                                                        
                                                                    </select>                                                                        
                                                                </td>
                                                                <td class="col-md-2">
                                                                    <input type="number" class="form-control input-sm delta" id="bulletin-@(ViewBag.forecast)-windmin-night" region="0" times="night-@(ViewBag.forecast)" who="wind-@(ViewBag.forecast)">
                                                                </td>
                                                                <td class="col-md-2">
                                                                    <input type="number" class="form-control input-sm" id="wind-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)" >
                                                                </td>
                                                               
                                                            </tr>
                                                        </tbody>

                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Уточнение
                                                                </th>
                                                                <th>
                                                                    Минимальное значение (м/с)
                                                                </th>
                                                                <th>
                                                                    Максимальное значение (м/с)
                                                                </th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                 <td class="col-md-2">
                                                                    <select id="wind-clarification" class="selectpicker" data-style="btn-primary" data-live-search="true" >                                                                        
                                                                            <option value="0">Нет уточнений</option>
                                                                            @foreach (var clarification in ((IRepository<Clarification>)(new ClarificationRepository())).GetAll())
                                                                            {
                                                                                <option value="@(clarification.ID)">@clarification.Name</option>
                                                                            }  
                                                                    </select>                                                                        
                                                                </td>
                                                                <td class="col-md-2">
                                                                    <input type="number" class="form-control input-sm delta" id="wind-clarification-min" region="0" times="night-@(ViewBag.forecast)" who="wind-clarification-@(ViewBag.forecast)">
                                                                </td>
                                                                <td class="col-md-2">
                                                                    <input type="number" class="form-control input-sm" id="wind-clarification-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)" >
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                                                                    
                                              </div>
                                            </div>

                                          
<script>
    $(document).ready(function () {
        $("#bulletin-@(ViewBag.forecast)-windmin-night").keyup(function () {
            
            $("#wind-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)").val(parseInt($(this).val()) + 5 );
        });

        $("#bulletin-@(ViewBag.forecast)-windmin-night").change(function () {

            $("#wind-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)").val(parseInt($(this).val()) + 5);
        });

        $("#wind-clarification-min").keyup(function () {

            $("#wind-clarification-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)").val(parseInt($(this).val()) + 5);
            
        });

        $("#wind-clarification-min").change(function () {

            $("#wind-clarification-@(ViewBag.forecast)-max-region-@(ViewBag.forecast)-0-night-@(ViewBag.forecast)").val(parseInt($(this).val()) + 5);
            
        });
    });
</script>