@using Bulletin.Repositories;
@using Bulletin.Models;
@using Bulletin.Common;

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Административные районы</th>
            <th></th>
            <th>Облачность</th>
            <th>Осадки</th>
            <th>Явления</th>
            <th>Ветер</th>            
            <th>Температура</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var territory in ((IRepository<Territory>)(new TerritoryRepository())).GetAll())
        {
            <tr>
                <td rowspan="2">@territory.Name</td>
                <td>
                        
                        <label for="mySubmit" class="btn btn-default"><i class="glyphicon glyphicon-copy"></i> </label>
    <input id="mySubmit" type="text" value="Go" class="hidden" />



                      <a href="#" class="btn btn-default">
                        <span class="glyphicon glyphicon-paste"></span>
                      </a>
                </td>
                <td class="cursorClick"></td>
                <td class="cursorClick"></td>
                <td class="cursorClick"></td>
                <td class="cursorClick"></td>
                <td class="cursorClick"></td>
            </tr>
            <tr>
                <td>
                        
                      <a href="#" class="btn btn-default">
                        <span class="glyphicon glyphicon-copy"></span>
                      </a>

                      <a href="#" class="btn btn-default">
                        <span class="glyphicon glyphicon-paste"></span>
                      </a>
                </td>
                <td class="cursorClick" onclick="handleCloudiness(@(territory.ID))"></td>
                <td class="cursorClick"></td>
                <td class="cursorClick"></td>
                <td class="cursorClick"></td>
                <td class="cursorClick"></td>
            </tr>
        }
    </tbody>
</table>



<script>
    function handleCloudiness(id) {
        $("#TerritoryID").text(id);
        $("#myModal").modal('show');
    }
</script>




    <div id="myModal" class="modal fade">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Confirmation</h4>

                </div>

                <div class="modal-body">

                    <div id="TerritoryID">
                    </div>

                    @Html.Partial("Params\\_Cloudiness", new ViewDataDictionary { { "forecast", ViewBag.forecast } })    
                

                    <p>Do you want to save changes you made to document before closing?</p>

                    <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="button" class="btn btn-primary">Save changes</button>

                </div>

            </div>

        </div>

    </div>

