<div class="panel">
    <div class="container-fluid">
        <p>
            @Html.Partial("_PartialCreateForm", new ViewDataDictionary { { "forecast", ViewBag.forecast } })
        </p>
    </div>
</div>