

@{
    ViewBag.Title = "Создание нового метеорологического бюллетеня";
}

<h2>Создание нового метеорологического бюллетеня</h2>

@Html.ValidationSummary("Create was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm("Create", "Bulletins", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal" }))
{
    
    
    
        <legend>Заполните данные:</legend>
          <div id="sandbox-container">
            <div id="bulletin-day" class="input-group date">
            <span class="input-group-addon">Дата: </span>
            <input type="text" value="@ViewBag.DateTime" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            </div>
            <script>
    $(document).ready(function () {
                $('#bulletin-day').datepicker({
                    todayBtn: true,
                    clearBtn: true,
                    language: "ru",
                    calendarWeeks: true,
                    autoclose: true,
                    todayHighlight: true,
             });
    });
</script>
    
  
    <hr />
            
   @Html.Partial("_PartialTabPanel", "forecast01_1")
    
    
    
    

                                                      

}