@{
    ViewBag.Title = "Абонент";
    }


<h2>Просмотр абонентов</h2>

    <fieldset>
        <legend>Поля</legend>
        <p>
            Имя:
            @Html.Encode(Model.Name)
        </p>
        <p>
            Email:
            @Html.Encode(Model.Email)
        </p>
    </fieldset>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id=Model.ID }) |
        @Html.ActionLink("Назад", "Index")
    </p>